<form action="/<%= @filename %>/edit" method="post">
  <textarea name="edited_content" dirname="<%= @file_path %>.dir" cols="100" rows="30"><%= @file %></textarea>
    <button type="submit" id="edit">Submit changes</button>
</form>
<form action="/" method="get">
  <button type="submit" id="cancel">Cancel</button>
</form>
