<textarea name="edited_content" form="content" dirname="<%== @file_path %>.dir" cols="100" rows="30"><%= @file %></textarea>

<button form="content" type="submit" id="edit">Submit changes</button>
<button form="cancel" type="submit">Cancel</button>

<form id="content" action="/<%= @filename %>/edit" method="post"></form>
<form id="cancel" action="/" method="get"></form>
