<h2>This is the CMS Index!</h2>
<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%= file %>" ><%= file %></a> - 
      <a href="/<%= file %>/edit">edit</a> - 
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<form action="/new_doc" method="get">
  <button type="submit">New Document</button>
</form>
