<!doctype html>
<html>
  <head>
    <title>CMS</title>
    <%= session.delete(:edit_success) if session[:edit_success]  %>
    <%= session.delete(:error) if session[:error] %>

    <style>
      textarea { resize: none }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
