<!doctype html>
<html>
  <head>
    <title>CMS</title>
    <link href="/stylesheets/cms.css" rel="stylesheet" type="text/css">

    <div class='messages'>
      <%= session.delete(:edit_success) if session[:edit_success] %>
      <%= session.delete(:error) if session[:error] %>
    </div>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
