<!doctype html>
<html>
  <head>
    <title>CMS</title>
    <link href="/stylesheets/cms.css" rel="stylesheet" type="text/css">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">

    <% if session[:message] %>
      <p class='message'><%= session.delete(:message) %></p>
    <% end %>

  </head>
  <body>
    <%== yield %>
  </body>
</html>
