<p>Add a new document:</p>
<input name="filename" form="submit" type="text"></input>

<button form="submit">Submit</button>
<button form="cancel">Cancel</button>

<form id="submit" action="/new_doc" method="post"></form>
<form id="cancel" action="/" method="get"></form>
