<form id="signin" action="/users/signin" method="post">
  <div>
    <label for="username"> Username: 
      <input name="username" type="text" value="<%= session[:potential_user] %>">
    </label>
  </div>
  <div>
    <label for="password"> Password: 
      <input name="password" type="text">
    </label>
  </div>

  <button form="signin">Sign In</button>
  <button form="cancel">Cancel</button>
</form>

<form id="cancel" action="/" method="get"></form>
