body {
  padding: 1em;
  font-family: sans-serif;
}

textarea {
  resize: none;
}

.message {
  padding: 10px;
  background-color: yellow;
}

/* Brave does not render this style unless it is included directly in the DOM */
/* form.inline {
  display: inline-block;
} */

.user_status {
  font-style: italic;
}
